[submodule "Frontend"]
	path = Frontend
	url = git@github.com:SSking532/KANHA-CHAT-BOT.git
[submodule "IoT_Module"]
	path = IoT_Module
	url = git@github.com:Sneha063214/tourist_app.git
[submodule "Dashboard"]
	path = Dashboard
	url = git@github.com:Sneha063214/dashbord_tourist.git
